@import './styles/form.scss';
@import './styles/modal.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  padding: 200px 0 0;
  flex-direction: column;
  align-items: center;
  background-color: #2f4f4f;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  height: 130vh;
  width: 100vw;
}

